.main{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.content{
  max-width: 600px;
  padding: 40px;
  background-color: hsl(204, 77%, 76%);
  border-radius: 20px;
}

.singup{
  display: flex;
  justify-content: center;
}


.btn{
  padding: 10px 25px;
}
